<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/route-search">
    {{title}}
  </a>
</nav>

<div class="wrapper-list">
  <div class="container">
    <br>
    <h1 class="details-title">Lisbon's Best Street Art</h1>
    <div class="row">
      {{#each streetarts}}
      <div class="col-sm-4">
        <div class="card" style="width: 22rem;">
          <img src={{imageUrl}} class="card-img-top" alt={{title}}>
          <div class="card-body">
            <h5 class="card-title">{{name_description}}</h5>
            <p>by: {{artist}}</p>

            <input class="btn btn-primary" type=button onClick="location.href='/streetarts/{{_id}}'"
              value='See Details'>

            <input class="btn btn-outline-warning" id="card-body-edit" type=button
              onClick="location.href='/streetarts/{{_id}}/edit'" value='Edit'>

            <form id="list-delete" action="/streetarts/{{_id}}/delete" method="POST">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <br>

    <input id="street-list-link" class="btn btn-secondary" type=button onClick="location.href='/route-search'"
      value='Back to route map'>
  </div>
</div>
<footer id="footer-signedin" class="footer fixed-bottom">
  <span>
    <form action="/logout" method="POST">
      <button class="logout-button" type="submit"><i class="fas fa-sign-out-alt"></i></button>
    </form>
  </span>
</footer>