<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/route-search">
    {{title}}
  </a>
</nav>

<div class="fluid-container-edit">

  <h2>Update the street art</h2>
  <br>

  <form class="table" action="/streetarts/{{streetart._id}}/edit" method="POST" enctype="multipart/form-data">
    <div class="col-md-auto">
      <div class="menu-text">
        <div class="main-title text-left">
          <label class="menu-content d-flex align-items-start">
            Artist
            <input style="width: 368px;" type="text" name="artist" value="{{streetart.artist}}">
          </label>

          <label class="menu-content d-flex align-items-start">
            Name or Description
            <textarea name="description" cols="30" rows="2">{{streetart.name_description}}</textarea>
          </label>

          <label class="menu-content d-flex align-items-start">
            Address
            <input style="width: 350px;" type="double" name="address" value="{{streetart.address}}">
          </label>

          <label class="menu-content d-flex align-items-start">
            Latitude
            <input style="width: 350px;" type="string" name="latitude" value="{{streetart.latitude}}">
          </label>

          <label class="menu-content d-flex align-items-start">
            Longitude
            <input style="width: 335px;" type="string" name="longitude" value="{{streetart.longitude}}">
          </label>

          <label class="menu-content d-flex align-items-start">
            Other Location Notes
            <textarea name="comment" cols="30" rows="2">{{streetart.other_location_note}}</textarea>
          </label>

          <label class="menu-content d-flex align-items-start">
            Comment
            <textarea style="width: 340px;" name="comment" cols="40" rows="2">{{streetart.comment}}</textarea>
          </label>
          <button type="submit" class="update-button">Update</button>
        </div>
      </div>
    </div>
  </form>
</div>
</div>
<br>
<input id="edit-links" class="btn btn-secondary" type=button onClick="location.href='/route-search'"
  value='Back to route map'>

<input id="edit-links-link" class="btn btn-secondary" type=button onClick="location.href='/streetarts'"
  value='List of all street art'>
<br>
</div>
<footer id="footer-signedin" class="footer fixed-bottom">
  <span>
    <form action="/logout" method="POST">
      <button class="logout-button" type="submit"><i class="fas fa-sign-out-alt"></i></button>
    </form>
  </span>
</footer>